*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
#logo{
    font-family: "Gwendolyn", cursive;
    font-weight: 700;
    font-style: normal;
}